<h1> Painel do Usuário </h1>

<section>
	<%- if current_usuario.cargo && current_usuario.area %>
	Cargo Almejado: <%= current_usuario.cargo.nome %> <%= current_usuario.area.nome_adjetivo %><br/>
	<%- else %>
	Cargo Almejado: Indefinido.<br/>
	<%- end %>
	<%= link_to "Editar", dashboard_editar_cargo_area_path, :method => :get %>
</section>

<section>
	<%= link_to "Avalie as suas competências!", questionario_competencias_instrucoes_path, :method => :get %>
</section>