<%= stylesheet "devise_pages" %>

<%= render :partial => "devise/shared/header_nao_logado", :locals => {:links => [(link_to "Página Inicial", new_session_path(:usuario), :method => :get)]} %>


<div id="page_main_container">

	<p class="titulo">Sobre Nós</p>

	<p class="texto_principal">Esta empresa foi fundada com o objetivo de fornecer a todos aqueles que desejam progredir profissionalmente na área de gestão empresarial, uma ferramenta de avaliação profissional.</p>

	<p class="texto_principal">Este sistema avalia o usuário a partir de questionários, e aponta as suas deficiências, recomendando cursos adqeuados com a sua área de atuação e comparando-o com o mercado.</p>

	<div class="rodape_label">Up to You 2013</div>

</div>
