<%= stylesheet "header_nao_logado" %>

<% content_for :header do %>

  <div id="bg_header_pag_inicial" class="header"></div>


  <div id="header_pag_inicial" class="header">

    <div id="header_link_container">

      <% links.each{ |link| %>

        <%= link %>

	  <% } %>

    </div>

    <img id="up2u_logo" src="<%= image_path "pagina_inicial/logo_up2u.jpg" %>">

  </div>

<% end %>