<%= stylesheet "header_nao_logado" %>

<% content_for :header do %>

  <div id="bg_header_pag_inicial" class="header" style="opacity: 0.4; filter: alpha(opacity=40); background-color: #000000;width: 100%; position: absolute; top: 0; left: 0"></div>


  <div id="header_pag_inicial" class="header" style="width: 100%; position: relative; top: 0; left: 0; display: table">

    <div id="header_link_container" style="display: table-cell; vertical-align: middle; valign: middle">

      <%= link %>

    </div>

    <img src="<%= image_path "pagina_inicial/logo_up2u.jpg" %>" style="position: absolute; left: 0; height:100%">

  </div>

<% end %>