<%= link_to "Sair", destroy_usuario_session_path, :method => :get %> | 
<%= link_to "Alterar configurações de segurança", edit_usuario_registration_path, :method => :get %>

<h1> Questionário de Competências </h1>

<section>
	formulario com post pra registra_resposta

	<br/><%= link_to "Continuar mais tarde", dashboard_index_path, :method => :get %>
</section>