/*
*= require bootstrap.min
*/
 
/* rest of file omitted */

@font-face {
font-family: 'nexa-light';
src: url('nexa-light.otf') format('opentype'),
url('nexa-light.ttf') format('truetype'),
url('nexa-light.eot?') format('eot');
} 

@font-face {
font-family: 'nexa-bold';
src: url('nexa-bold.otf') format('opentype'),
url('nexa-bold.ttf') format('truetype'),
url('nexa-bold.eot?') format('eot');
}