@font-face {
font-family: 'nexa';
src: url('nexa-light.otf') format('opentype'),
url('nexa-light.ttf') format('truetype'),
url('nexa-light.eot?') format('eot');
} 

@font-face {
font-family: 'nexa';
src: url('nexa-bold.otf') format('opentype'),
url('nexa-bold.ttf') format('truetype'),
url('nexa-bold.eot?') format('eot');
font-weight: bold;
}