<p>Olá <%= @resource.nome %> <%= @resource.sobrenome %>!</p>

<p>Alguém requisitou um link para redefinição de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você quem requisitou, por favor ignore este email.</p>

<p>Sua senha não mudará enquanto você não acessar o link acima e redefinir sua senha.</p>

<p>Muito obrigado!</p>

